ul.top {position:fixed;list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #333;}
	.top> li { float: left;}
	 .top>li a {display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;}
	 .top>li a:hover:not(.active) {background-color: #111;}
	.active {background-color: #4CAF50;}